.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.card{
  width: 50rem;
  color: red;
  border: 1px solid rgb(52, 48, 48);
  margin: 2rem 0;
}



